.button-submit_disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.button-submit_disabled:hover {
  background: rgba(255, 255, 255, 0.2);
}
